.navbar-item {
  height: 100%;
  width: 7em;
  text-align: center;
  vertical-align: center;
  float: left;
}

.navbar-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}
