.navbar-item {
  height: 100%;
  width: 7em;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.0);
  transition: background-color 1s;
}

.navbar-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 1s;
}

.navbar-item-content {
  color: white; 
  font-size: larger;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}
