a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: orange;
}

.navbar {
  height: 100%;
  width: 100%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  background: rgb(227,204,204);
  background: linear-gradient(270deg, rgba(227,204,204,1) 0%, rgba(168,84,168,1) 51%);
  overflow: hidden;
  display: grid;
  grid-template-columns: 45vw 10vw 45vw;
}

.buttons {
  grid-column: 1;
}

.logo-container {
  grid-column: 2;
  height: 6.0vh;
  margin-top: 0.3em;
  cursor: pointer;
  animation: spin 3s linear infinite;
  animation-play-state: paused;
}

.right-side {
  grid-column: 3;
}

.logo-container:hover {
  animation-play-state: running;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
