.Projects {
  font-size: large;
}

.project {
  background-color: rgba(0, 0, 190, 0.1);
  margin: 0 auto;
  max-width: 45em;
  padding-left: 1em;
  padding-right: 1em;
}

hr {
  max-width: 90vw;
  margin: 0 auto;
}
