@font-face {
  font-family: manrope;
  src: url(./fonts/manrope/light.woff);
}
.App {
  text-align: center;
  font-family: "manrope";
  height: 20vh;
}

.header {
  height: 7vh;
}

.content {
  height: 93vh;
  overflow-y: auto;
}
